<?xml version="1.0" encoding="utf-8" ?>
<log4net>

  <appender name="RollingFileAppenderFull" type="log4net.Appender.RollingFileAppender">
    <file value="logs\\.log"/>
    <appendToFile value="true"/>
    <rollingStyle value="Date"/>
    <maximumFileSize value="100MB"/>
    <maxSizeRollBackups value="5"/>
    <preserveLogFileNameExtension value="true"/>
    <staticLogFileName value="false"/>  
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-25.25utcdate{DATE}{%-8.8timestamp}[%-10.10thread] %-5level: %-25.25location  %-40.40message  Ex: %-100.100exception  @stacktrace: %-300.300stacktracedetail{5}%newline"/>
    </layout>
  </appender>

  <!--<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-25.25utcdate{DATE}{%-8.8timestamp}[%-10.10thread] %-5level: %-20.20logger  %-40.40message%newline"/>
    </layout>
  </appender>-->

  <root>
    <level value="DEBUG"/>
    <appender-ref ref="RollingFileAppenderFull"/>
    <!--<appender-ref ref="ConsoleAppender"/>-->
  </root>

</log4net>
